.producto-card {
  width: 280px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: 16px;
  background-color: #a3111a;
}

.item-card {
  width: 280px;
  padding: 20px;
  border: 1px solid #49bd1b;
  border-radius: 8px;
  margin: 16px;
  background-color: #0d75b1;
  /* Un valor: los 4 lados */
  /*padding: 20px;*/

  /* Dos valores: vertical | horizontal */
  /*padding: 10px 20px;*/

  /* Tres valores: top | horizontal | bottom */
  padding: 10px 20px 15px;

  /* Cuatro valores: top | right | bottom | left */
  /*padding: 10px 20px 15px 20px;*/
}

/* Sin border-box */
.producto1-card {
  width: 280px;
  padding: 20px;
  border: 1px solid #131d74;
  /* Ancho real: 280 + 20+20 + 1+1 = 322px ← sorpresa */
}

/* Con border-box: el width incluye padding y border */
* {
  box-sizing: border-box;
}

.producto2-card {
  width: 280px;
  padding: 20px;
  border: 1px solid #961717;
  /* Ancho real: 280px ← predecible */
}
